body {
  overflow: hidden; 
}

@font-face {
    font-family: "Plaak";
    src: url('./Plaak-46-ExpandedBold.ttf') format("truetype");
}

a 
{ 
  color: inherit;
  text-decoration: none;
} 

.plaak
{
  color: white;
  font-size: 22px;
  font-family: Plaak;
  font-weight: 900;
  word-wrap: break-word;
  letter-spacing: 1.20px;
}

#slideshow 
{
  background-image: url(../images/01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transition: background-image 0.5s ease-in-out;
}

.overlay{
  width: 100%; 
  height: 1024px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
}

.top-one-text
{
  padding: 20px;
  left: 20px; 
  top: 27px;   
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
}

.top-two-text
{
  padding: 20px;
  left: 50%;
  top: 27px;   
  position: relative;
  transform: translateX(-50%);
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
}

.top-three-text
{
  padding: 20px;
  right: 20px; 
  top: 27px;   
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
}

.center-text
{ 
  position: sticky;
  top: 50%;
  text-align: center;
}

.book-me-text
{
  padding: 20px; 
  right: 20px; 
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  text-align: right;
  display: inline-flex; 
}

.email-me-text
{
  padding: 20px; 
  bottom: 20px; 
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  text-align: right; 
}

.view-cv-text
{
  padding: 20px; 
  right: 20px; 
  bottom: 20px; 
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  text-align: right; 
}


@media only screen and (max-width: 1400px) {

  .plaak
  {
    font-size: 14px;
  }

  #slideshow 
  {
    background-image: url(../images/mobile/01.png);
  }
  
  .rat-text
  {
    padding: 10px;
    top: 10px;  
    left: revert; 
    display: revert; 
    position: relative;
    text-align: center;
  }

  .top-one-text
  {
    padding: 10px;
    top: 10px;  
    left: revert; 
    display: revert; 
    position: relative;
    text-align: center;
  }

  .top-two-text
  {
    padding: 10px;
    top: 15px;  
    left: revert; 
    display: revert; 
    position: relative;
    text-align: center;
    transform: revert;
  }

  .top-three-text
  {
    padding: 10px;
    top: 20px;  
    left: revert; 
    right: revert;
    display: revert; 
    position: relative;
    text-align: center;
  }

  .book-me-text
  {
    padding: 10px; 
    left: 20px; 
    right: revert;
    bottom: 20px;
    text-align: left; 
    position: fixed; 
  }

  .email-me-text
  {
    left:10px;
    padding: 10px;  
    bottom: 20px; 
    position: fixed; 
  }

  .view-cv-text
  {
    padding: 10px; 
    right: 20px; 
    bottom: 20px; 
    position: fixed;
  }

}