body {
  overflow: hidden; 
}

@font-face {
    font-family: "Plaak";
    src: url('./Plaak-46-ExpandedBold.ttf') format("truetype");
}

a 
{ 
  color: inherit;
  text-decoration: none;
} 

.plaak
{
  color: white;
  font-size: 20px;
  font-family: Plaak;
  font-weight: 900;
  word-wrap: break-word;
}

#slideshow 
{
  width: 100vw!important;
  height: 100vh!important;
  left: -7px; 
  top: -7px; 
  background-size: cover;
  position: relative;
  background-image: url('../images/bkgrd1.png');
}

.overlay{
  width: 100%; 
  height: 1024px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
}

.rat-text
{
  padding: 20px;
  left: 20px; 
  top: 25px;   
  position: absolute; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  letter-spacing: 1.20px;
}

.center-text
{ 
  position: relative;
  top: 50%;
  text-align: center;
}

.call-me-text
{
  padding: 20px; 
  right: 20px; 
  position: absolute; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  text-align: right; 
  letter-spacing: 1.20px;
}

.email-me-text
{
  padding: 20px; 
  right: 20px; 
  bottom: 20px; 
  position: absolute; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  text-align: right; 
  letter-spacing: 1.20px;
}
