body {
  overflow: hidden; 
}

@font-face {
    font-family: "Plaak";
    src: url('./Plaak-46-ExpandedBold.ttf') format("truetype");
}

a 
{ 
  color: inherit;
  text-decoration: none;
} 

.plaak
{
  color: white;
  font-size: 25px;
  font-family: Plaak;
  font-weight: 900;
  word-wrap: break-word;
  letter-spacing: 1.20px;
}

#slideshow 
{
  background-image: url(../images/01.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  position: relative;
  width: 100vw!important;
  height: 100vh!important;
  left: -8px; 
  top: -8px; 
}

.overlay{
  width: 100%; 
  height: 1024px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
}

.rat-text
{
  padding: 20px;
  left: 20px; 
  top: 25px;   
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
}

.center-text
{ 
  position: sticky;
  top: 45%;
  text-align: center;
}

.book-me-text
{
  padding: 20px; 
  right: 20px; 
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  text-align: right; 
}

.email-me-text
{
  padding: 20px; 
  right: 20px; 
  bottom: 20px; 
  position: fixed; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  text-align: right; 
}


@media only screen and (max-width: 600px) {

  .plaak
  {
    font-size: 15px;
  }

  #slideshow 
  {
    background-image: url(../images/mobile/01.png);
  }
  
  .rat-text
  {
    top: 10px;  
    left: revert; 
    display: revert; 
    position: sticky;
    text-align: center;
  }

  .book-me-text
  {
    padding: 20px; 
    left: 20px; 
    right: revert;
    top: 90%;
    text-align: left; 
    display: inline-flex;
    position: sticky;
  }

  .email-me-text
  {
    padding: 20px; 
    right: revert;
    left: 60%;
    top: 90%;
    display: inline-flex;
    position: sticky;
  }

}